<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Stocks</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="/css/index.css">

<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="/">My Stocks</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">

      <div class="row main-row">

        <div class=" col-lg-4 col-md-3 col-sm-2 d-none d-sm-block d-md-block d-lg-block">
        </div>

        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">

          <div class="card card-signin my-5" id="signInForm">
            <div class="card-body">
              <h5 class="card-title text-center">Sign In</h5>
              <form class="form-signin" action="login" method="POST">
                <div class="form-label-group">
                  <input name="email" type="email" id="signInEmail" class="form-control" placeholder="Email address"
                    required autofocus>
                  <label for="signInEmail">Email address</label>
                </div>
                <div class="form-label-group">
                  <input name="password" type="password" id="signInPassword" class="form-control" placeholder="Password"
                    required>
                  <label for="signInPassword">Password</label>
                </div>
                <div class="message">
                  <p class="success-msg">
                    <%if (typeof successMsg !== "undefined"){%>
                    <%=successMsg%>
                    <%}%>
                  </p>
                  <p class="err-msg" id="errMsg">
                    <%if (typeof errMsg !== "undefined"){%>
                    <%=errMsg%>
                    <%}%>
                  </p>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                <button class="btn btn-lg btn-danger btn-block text-uppercase" id="notAMember">Not a member?</button>
              </form>
            </div>
          </div>

          <div class="card card-signin my-5" id="signUpForm">
            <div class="card-body">
              <h5 class="card-title text-center">Sign Up</h5>
              <form class="form-signin" action="register" method="POST">
                <div class="form-label-group">
                  <input name="signUpEmail" type="email" id="signUpEmail" class="form-control"
                    placeholder="Email address" required autofocus>
                  <label for="signUpEmail">Email address</label>
                </div>
                <div class="form-label-group">
                  <input name="signUpPassword" type="password" id="signUpPassword" class="form-control"
                    placeholder="Password" required>
                  <label for="signUpPassword">Password</label>
                </div>
                <div class="form-label-group">
                  <input name="signUpConfirmPassword" type="password" id="signUpConfirmPassword" class="form-control"
                    placeholder="Confirm Password" required>
                  <label for="signUpConfirmPassword">Confirm Password</label>
                </div>
                <div class="message">
                  <p class="success-msg">
                    <%if (typeof successMsg !== "undefined"){%>
                    <%=successMsg%>
                    <%}%>
                  </p>
                  <p class="err-msg">
                    <%if (typeof errMsg !== "undefined"){%>
                    <%=errMsg%>
                    <%}%>
                  </p>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up</button>
                <button class="btn btn-lg btn-danger btn-block text-uppercase" id="alreadyAMember">Already a
                  member?</button>
              </form>
            </div>
          </div>

        </div>

        <div class="col-lg-4 col-md-3 col-sm-2 d-none d-sm-block d-md-block d-lg-block">
        </div>

      </div>

    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
</body>

</html>